.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(0, 0%, 95%);
}

@media only screen and (max-width: 850px) {
  .App {
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
